{% extends ':Front:front_layout.html.twig' %}
        {% block main %}
            <div class="main-inner">
                <div class="content">
                    {% block slider %}
                        {% include ":Front/ServiceCategory/Detail:slider_service_category_detail.html.twig" %}
                    {% endblock %}
                    {% block content %}
                        <div class="container">
                            <div class="row detail-content">
                                {% block core_content %}
                                    {% include ":Front/ServiceCategory/Detail:core_content_service_category_detail.html.twig" %}
                                {% endblock %}
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                    {% endblock %}
                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        {% endblock %}
