
<div class="mt-80 mb80">
    <div class="detail-banner" style="background-image: url({{asset(serviceCategory.serviceImage.url)}});">
        <div class="container">
            <div class="detail-banner-left">
                <h2 class="detail-title">
                    {{ serviceCategory.name }}
                </h2>
                <div class="detail-banner-address">
                    <i class="fa">{{ serviceCategory.description }}</i>
                </div><!-- /.detail-banner-address -->
            </div><!-- /.detail-banner-left -->
        </div><!-- /.container -->
    </div><!-- /.detail-banner -->
</div>