<div class="col-sm-8 col-lg-9">
    <div class="content">
        {% block search_form %}
            {% include "search_form.html.twig" %}
        {% endblock %}
        {% block result_filter_form %}
            {% include "result_filter_form.html.twig" %}
        {% endblock %}
        {% block core_content %}
            {% include "core_content_provider.html.twig" %}
        {% endblock %}
    </div><!-- /.content -->
</div><!-- /.col-* -->