{% extends 'my_base.html.twig' %}
{#{% block title %}AppBundle:Provider:providerList{% endblock %}#}

{% block body %}
    <h1>Welcome to the Provider:providerList page</h1>
    {%for p in providers%}
        <div>
            <ul>
                <li>{{p.name}}</li>
                <li>{{p.website}}</li>
                <li>{{p.contactEmail}}</li>
            </ul>
        </div>
    {%endfor%}
{% endblock %}
