{% extends "::base.html.twig" %}

{% block title %}AppBundle:ServiceCategory:serviceCategoryDetail{% endblock %}

{% block body %}
<h1>Welcome to the ServiceCategory:serviceCategoryDetail page</h1>
{% endblock %}
