{% extends "::base.html.twig" %}

{% block title %}AppBundle:ServiceCategory:serviceCategoryList{% endblock %}

{% block body %}
<h1>Welcome to the ServiceCategory:serviceCategoryList page</h1>
{% endblock %}
