<div class="document-title">
    <h1>Catégories de service</h1>

    {#<ul class="breadcrumb">#}
    {#<li><a href="#">Superlist</a></li>#}
    {#<li><a href="#">Listing</a></li>#}
    {#</ul>#}
</div><!-- /.document-title -->