{% extends ":Front:front_layout.html.twig" %}
    {% block content %}
        {% block core_content %}
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="page-title">
                        <h1>Login</h1>
                    </div><!-- /.page-title -->

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <form action="{{ path('login') }}" method="post">

                        <div class="form-group">
                            <label for="username">Email</label>
                            <input type="text" class="form-control" id="username" name="_username"
                                   value="{{ last_username }}"/>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="_password"/>
                        </div><!-- /.form-group -->

                        <button type="submit" class="btn btn-primary pull-right">login</button>

                    </form>

                </div><!-- /.col-sm-4 -->
            </div><!-- /.row -->
        {% endblock %}

    {% endblock %}

